<p id="notice"><%= notice %></p>
<div class="card">
  <div class="card-header bg-success text-white">
  <center><h1>Clientes</h1></center>
  </div>
<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Address</th>
      <th>Pay method</th>
      <th>Integer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.user_id %></td>
        <td><%= client.address %></td>
        <td><%= client.pay_method_id %></td>
        <td><%= client.integer %></td>
        <td><%= link_to 'Show', client %></td>
        <td><%= link_to 'Edit', edit_client_path(client) %></td>
        <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>

    <% end %>
  </tbody>
</table>

<br>
  <button type="button" class="btn btn-primary"><a style="color:#FFFFFF" <%= link_to 'New Client', new_client_path %></button>
</div>