<p id="notice"><%= notice %></p>
<div class="card">
  <div class="card-header bg-success text-white">
<h1>Historials</h1>
  </div>
<table>
  <thead>
    <tr>
      <th>Order</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @historials.each do |histroal| %>
      <tr>
        <td><%= histroal.order_id %></td>
        <td><%= link_to 'Show', histroal %></td>
        <td><%= link_to 'Edit', edit_histroal_path(histroal) %></td>
        <td><%= link_to 'Destroy', histroal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

  <button type="button" class="btn btn-primary"><a style="color:#FFFFFF" <%= def new_histroal_path
    end
            link_to 'New Histroal', new_histroal_path %></button>
</div>